 - 需要根据实际环境，先修改 ../conf/dbutils.conf 配置文件

In [1]:
import pandas as pd
from imp import reload
import sys

sys.path.append('../..')
from aibox import dbutils
reload(dbutils)

# Inceptor

## 连接方式

### Impyla

In [2]:
print('Impyla连接测试.')
sql = "SELECT sysdate from system.dual"
dbtest = dbutils.selectHiveByImpyla(sql)
dbtest

Impyla连接测试.

          _c0
0  2023-02-19

### Pyhive

In [3]:
print('Pyhive连接测试.')
sql = "SELECT sysdate from system.dual"
dbutils.selectHiveByPyhive(sql)

Pyhive连接测试.

                   _c0
0  2023-02-19 14:18:47

### Pyodbc
需要配置ODBC环境

In [ ]:
print('Pyodbc连接测试.')
sql = "SELECT sysdate from system.dual"
dbutils.selectHiveByPyodbc(sql)

## 批量插入示例
 - 以pyhive为例
 - 目标表限于ES或HBase
 - 建议数据量小于1000条时使用，否则推荐使用HDFS+外表方式将数据写入到Inceptor

### 建表 - Waterdrop中执行

drop table default.t_city_info;
create table default.t_city_info(
    idx string comment '唯一列',
    city_name string comment '城市名称',
    gdp double comment 'gdp增速'
)
stored as es;

### 构建测试数据

In [6]:
data = pd.DataFrame({'idx':[1,2,3,4,5], 
                     'city_name':['beijing', 'shanghai', 'guangzhou', 'shenzhen', 'chongqing'],
                     'gdp':[8.5, 8.1, 8.1, 6.7, 8.3]
                    })

data

   idx  city_name  gdp
0    1    beijing  8.5
1    2   shanghai  8.1
2    3  guangzhou  8.1
3    4   shenzhen  6.7
4    5  chongqing  8.3

### 插入数据到Inceptor
sql语句需要拼接

In [7]:
print('insert begin...')
TABLE_NAME = "default.t_city_info"

data_len = len(data)
for i in range(data_len):
    val = list(data.iloc[i].values.astype(str))
    sql = "insert into  " + TABLE_NAME
    sql = sql +   " values ('" + val[0] +  "','" + "',".join(val[1:]) 
    sql +=  ");"
    dbutils.insertHiveByPyhive(sql)
    print('process(total=%d): %d' %(data_len, i))

print('insert done.')

insert begin...
process(total=5): 0
process(total=5): 1
process(total=5): 2
process(total=5): 3
process(total=5): 4
insert done.

### 查询验证

In [8]:
dbutils.selectHiveByPyhive("select * from default.t_city_info order by idx asc")

  idx  city_name  gdp
0   1    beijing  8.5
1   2   shanghai  8.1
2   3  guangzhou  8.1
3   4   shenzhen  6.7
4   5  chongqing  8.3